.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a3b5a;
  padding: 10px 20px;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userName {
  margin-right: 20px;
}

.exitButton {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}
