.statistics {
  color: white;
}

.content {
  display: flex;
  justify-content: space-between; /* Spațiere între grafic și listă */
  align-items: flex-start; /* Aliniere pe verticală */
}

.chartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative; /* Poziționare relativă pentru a centra media */
}

.average {
  font-size: 1.5rem;
  color: white;
  position: absolute; /* Poziționează media în centru */
  font-weight: bold;
}

.listContainer {
  margin-left: 20px; /* Spațiere între grafic și lista de tranzacții */
}

.listItem {
  display: flex;
  align-items: center; /* Aliniere pe verticală a pătratelor colorate și sumelor */
  padding: 5px 0; /* Spațiu pe verticală pentru fiecare element */
}

.colorSquare {
  width: 20px; /* Dimensiunea pătratelor colorate */
  height: 20px; /* Dimensiunea pătratelor colorate */
  margin-right: 10px; /* Spațiu între pătratul colorat și numele tranzacției */
}

.totals {
  margin-top: 10px; /* Spațiu între lista de tranzacții și totaluri */
}

  