/* ------------------BACKGROUND------------------ */
.customBackground {
  background-image: url("/BackgroundRegister.png");
  background-size: cover;

  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerForget {
  margin-top: 0%;
}

/* ------------------CARD------------------ */
.customCard {
  border-radius: 30px !important;
  background-color: rgba(255, 255, 255, 0.116) !important;
  margin: 2rem;
  padding: 1rem 0 !important;
}

.customCardBody {
  padding: 2rem;
}

/* ------------------BACK BUTTON------------------ */
.backButtonContainer {
  margin-bottom: 1rem;
}

.customBackButton {
  display: inline-flex;
  align-items: center;
  background-color: #0371ee79;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.customBackButton:hover {
  background-color: #274b7791;
  outline: solid 1px white;
}

.customBackButton:active {
  transform: scale(0.98);
}

.customBackIcon {
  margin-right: 8px;
  font-size: 1.5rem;
}

/* ------------------FORM ELEMENTS------------------ */
.customRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customColForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.customTitle {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  border-radius: 5rem;
  padding: 0.2rem 1rem;
}

.inputWrapper {
  width: 80%;
  position: relative;
  margin-bottom: 1.5rem;
}

.customInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 4px;
  background-color: transparent;
  color: white;
  transition: all 0.3s ease;
  -webkit-appearance: none;
  appearance: none;
}

.customLabel {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgb(177, 177, 177);
  pointer-events: none;
  transition: all 0.3s ease;
}

.customInput:focus,
.customInput:not(:placeholder-shown) {
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(179, 179, 179, 0.342);
}

.customInput:focus + .customLabel,
.customInput:not(:placeholder-shown) + .customLabel {
  top: -12px;
  left: 5px;
  font-size: 12px;
  color: white;
}

.customInput::placeholder {
  color: transparent;
}

/* ------------------ERROR AND SUCCESS MESSAGES------------------ */
.errorMessage {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}

.successMessage {
  color: green;
  text-align: center;
  margin-bottom: 1rem;
}

/* ------------------SUBMIT BUTTON------------------ */
.customSubmitButton {
  background-color: #0371ee79;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;
  color: white;
  width: 60%;
  text-align: center;
  outline: none;
  border: none;
}

.customSubmitButton:hover {
  background-color: #274b77;
  outline: solid 2px white;
}

.customSubmitButton:active {
  transform: scale(0.98);
}

/* ------------------IMAGE SECTION------------------ */
.customColImage {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customImage {
  width: 90%;
  max-width: 300px;
  height: auto;
}

/* ------------------MEDIA QUERY FOR SMALL SCREENS------------------ */
@media (max-width: 780px) {
  .customRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .customBackButton {
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    position: relative;
    top: -2rem;
  }

  .customBackIcon {
    margin-right: 0.3rem;
    font-size: 0.8rem;
  }

  .customColForm {
    width: 100%;
  }

  .customColImage {
    order: 3;
    width: 100%;
    bottom: 0;
  }

  .backButtonContainer {
    order: 1;
    margin-bottom: 1rem;
    width: 100%;
  }

  .customSubmitButton {
    width: 70%;
  }

  .customTitle {
    font-size: 1.2rem;
  }
}
